<html layout:decorate="~{layout}">
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<div layout:fragment="content">
	        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
	            <div class="container">
	                <div class="page-header-content pt-4">
	                    <div class="row align-items-center justify-content-between">
	                        <div class="col-auto mt-4">
	                            <h1 class="page-header-title">
	                                <div class="page-header-icon"><i data-feather="activity"></i></div>
	                                SPFL
	                            </h1>
	                            <div class="page-header-subtitle">Results, fixtures, news and more.</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>
	        <!-- Main page content-->
	        <div class="container mt-n10">
				<div class="row">
                	<div class="col-xxl-8">
                	</div>
                	<div class="col-xxl-4">
						<div class="card mb-4">
                        	<div class="card-header">Matches</div>
                            <div class="card-body">
                                <!-- Item 2-->
                                <th:block th:each="result, iter : ${results}">
									<th:block th:if="${iter.index < 6}">
		                                <div class="d-flex align-items-center justify-content-between mb-4">
		                                    <div class="d-flex align-items-center flex-grow-1">
		                                        <div class="d-flex flex-column font-weight-bold flex-grow-1">
													<span class="small float-left">[[${#temporals.format(result.fixtureDateTime, 'dd-MM-yyyy HH:mm')}]]</span>
													<span class="small float-left">[[${result.stadium}]]</span>							
													<div class="d-flex">
														<div class="flex-fill flex-shrink-0">
														<div class="d-flex justify-content-end">
															<span>[[${#strings.abbreviate(result.homeTeamName, 12)}]]&nbsp;</span>
															<img th:src="${result.homeTeamBadge}" alt="badge" width="20px" height="20px"/>															
														</div>
														</div>
														<div class="flex-fill mx-2 flex-shrink-0">
															<div class="d-flex justify-content-center">
																<span>[[${result.fullTimeScore}]]</span>
															</div>													
														</div>
														<div class="flex-fill flex-shrink-0">
															<div class="d-flex justify-content-start">
																<img th:src="${result.awayTeamBadge}" alt="badge" width="20px" height="20px"/>
																<span>&nbsp;[[${#strings.abbreviate(result.awayTeamName, 12)}]]</span>															
															</div>
														</div>														
													</div>	
		                                        </div>
		                                    </div>
		                                </div>
									</th:block>
								</th:block>
								
								<!-- Item 2-->
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center flex-shrink-0 mr-3">
                                        <div class="avatar avatar-xl mr-3 bg-gray-200"><img class="avatar-img img-fluid" th:src="@{/assets/img/freepik/profiles/profile-2.png}" alt="" /></div>
                                        <div class="d-flex flex-column font-weight-bold">
                                            <a class="text-dark line-height-normal mb-1" href="#!">Keelan Garza</a>
                                            <div class="small text-muted line-height-normal">Position</div>
                                        </div>
                                    </div>
                                    <div class="dropdown no-caret">
                                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownPeople2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="more-vertical"></i></button>
                                        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up" aria-labelledby="dropdownPeople2">
                                            <a class="dropdown-item" href="#!">Action</a>
                                            <a class="dropdown-item" href="#!">Another action</a>
                                            <a class="dropdown-item" href="#!">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    	</div>
                	</div>
                </div>
	        </div>		
		</div>
	</body>
</html>