<html layout:decorate="~{layout}">
	<head>
		<title>Dashboard</title>
	</head>
	<body>
		<div layout:fragment="content">
	        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
	            <div class="container">
	                <div class="page-header-content pt-4">
	                    <div class="row align-items-center justify-content-between">
	                        <div class="col-auto mt-4">
	                            <h1 class="page-header-title">
	                                <div class="page-header-icon"><i data-feather="activity"></i></div>
	                                SPFL
	                            </h1>
	                            <div class="page-header-subtitle">Results, fixtures.</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </header>
	        <!-- Main page content-->
	        <div class="container mt-n10">
				<div class="row">
                	<div class="col-lg-8 col-xxl-8">
                	<div class="card mb-4">
                		<div class="card-header">Table</div>
                		<div class="card-body">
							<div class="table-responsive">
								<table class="table table-sm table-hover league-table">
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th colspan="4"></th>
											<th class="font-weight-light"><small>P</small></th>
											<th class="font-weight-light"><small>W</small></th>
											<th class="font-weight-light"><small>D</small></th>
											<th class="font-weight-light"><small>L</small></th>
											<th class="font-weight-light"><small>+/-</small></th>
											<th class="font-weight-light"><small>GD</small></th>
											<th class="font-weight-light"><small>Pts</small></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="entry,iter  : ${leagueTable.entries}">
											<td th:if="${iter.index == 0}" style="background-color: rgb(19, 143, 22); width: 1%;"></td>
											<td th:if="${iter.index > 0 && iter.index < 3}" style="background-color: rgb(58, 176, 211); width: 1%;"></td>
											<td th:if="${iter.index > 2 && iter.index < 10}" style="background-color: rgb(255, 255, 255); width: 1%;"></td>
											<td th:if="${iter.index == 10}" style="background-color: rgb(238, 172, 87); width: 1%;"></td>
											<td th:if="${iter.index == 11}" style="background-color: rgb(215, 84, 82); width: 1%;"></td>
											<td>[[${iter.index +1}]]</td>
											<td colspan="4">
												<img th:src="${entry.teamBadgeUrl}" alt="badge" width="30px" height="30px"/>
												<span class="ml-4"><a th:href="@{/team/__${entry.teamResourceId}__}">[[${entry.teamName}]]</a></span>
											</td>
											<td>[[${entry.matchesPlayed}]]</td>
											<td>[[${entry.wins}]]</td>
											<td>[[${entry.draws}]]</td>
											<td>[[${entry.losses}]]</td>
											<td>[[${entry.goalsScored}]] / [[${entry.goalsConceded}]]</td>
											<td>[[${entry.goalDifference}]]</td>
											<td><strong>[[${entry.points}]]</strong></td>
										</tr>
									</tbody>
								</table>				
							</div>                		
                		</div>
                	</div>
                	</div>
                	<div class="col-lg-4 col-xxl-4">
						<div class="card mb-4">
                        	<div class="card-header">Matches</div>
                            <div class="card-body">
                                <!-- Item 2-->
                                <th:block th:each="result, iter : ${results}">
									<th:block th:if="${iter.index < 6}">
		                                <div class="d-flex align-items-center justify-content-between mb-4">
		                                    <div class="d-flex align-items-center flex-grow-1">
		                                        <div class="d-flex flex-column font-weight-bold flex-grow-1">
													<span class="small float-left">[[${#temporals.format(result.fixtureDateTime, 'dd-MM-yyyy HH:mm')}]]</span>
													<span class="small float-left">[[${result.stadium}]]</span>							
													<div class="d-flex">
														<div class="flex-fill flex-shrink-0">
														<div class="d-flex justify-content-end">
															<span class="mr-2">[[${#strings.abbreviate(result.homeTeamName, 12)}]]&nbsp;</span>
															<img th:src="${result.homeTeamBadge}" alt="badge" width="20px" height="20px"/>															
														</div>
														</div>
														<div class="flex-fill mx-2 flex-shrink-0">
															<div class="d-flex justify-content-center">
																<span>[[${result.fullTimeScore}]]</span>
															</div>													
														</div>
														<div class="flex-fill flex-shrink-0">
															<div class="d-flex justify-content-start">
																<img th:src="${result.awayTeamBadge}" alt="badge" width="20px" height="20px"/>
																<span class="ml-2">&nbsp;[[${#strings.abbreviate(result.awayTeamName, 12)}]]</span>															
															</div>
														</div>														
													</div>	
		                                        </div>
		                                    </div>
		                                </div>
									</th:block>
								</th:block>
                            </div>
                    	</div>
                	</div>
                </div>
	        </div>		
		</div>
	</body>
</html>