<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>[[${team.name}]]</title>
    
    <!-- in app chart JS -->
    <script type="text/javascript" th:src="@{/js/teamCharts.js}"></script>
</head>
<body>
	<div layout:fragment="content">
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><img th:src="${team.logo}" alt="badge" width="75px" height="75px"/></div>
                                <span>[[${team.name}]]</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
		<div class="container mt-n10">	
			<div class="row">
				<div class="col-xs-12 col-lg-8 bg-white p-4 m-2 border rounded shadow-sm">
					<div class="row">
						<div class="col-xs col-xl">
							<ul class="nav nav-tabs mb-4" id="matchesTabs" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="league-table-tab" data-toggle="tab" href="#league-table" role="tab" aria-controls="league-table" aria-selected="true">League Table</a>
								</li>
								<li class="nav-item">
								   <a class="nav-link" id="league-position-per-match-tab" data-toggle="tab" href="#league-position-per-match" role="tab" aria-controls="league-position-per-match" aria-selected="false">League Positions</a>
								</li>
								<li class="nav-item">
								   <a class="nav-link" id="points-won-tab" data-toggle="tab" href="#points-won" role="tab" aria-controls="points-won" aria-selected="false">Points Won</a>
								</li>
							</ul>					
						</div>
					</div>
					<div class="row">
						<div class="col-xs col-xl">
							<div class="tab-content">
								<div class="tab-pane fade show active" id="league-table" role="tabpanel" aria-labelledby="league-table-tab">
									<div class="table-responsive">
										<table class="table table-sm table-hover league-table">
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th colspan="4"></th>
													<th class="font-weight-light"><small>P</small></th>
													<th class="font-weight-light"><small>W</small></th>
													<th class="font-weight-light"><small>D</small></th>
													<th class="font-weight-light"><small>L</small></th>
													<th class="font-weight-light"><small>+/-</small></th>
													<th class="font-weight-light"><small>GD</small></th>
													<th class="font-weight-light"><small>Pts</small></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="entry,iter  : ${leagueTable.entries}">
													<td th:if="${iter.index == 0}" style="background-color: rgb(19, 143, 22); width: 1%;"></td>
													<td th:if="${iter.index > 0 && iter.index < 3}" style="background-color: rgb(58, 176, 211); width: 1%;"></td>
													<td th:if="${iter.index > 2 && iter.index < 10}" style="background-color: rgb(255, 255, 255); width: 1%;"></td>
													<td th:if="${iter.index == 10}" style="background-color: rgb(238, 172, 87); width: 1%;"></td>
													<td th:if="${iter.index == 11}" style="background-color: rgb(215, 84, 82); width: 1%;"></td>
													<td>[[${iter.index +1}]]</td>
													<td colspan="4">
														<img th:src="${entry.teamBadgeUrl}" alt="badge" width="30px" height="30px"/>
														<span class="ml-4">[[${entry.teamName}]]</span>
													</td>
													<td>[[${entry.matchesPlayed}]]</td>
													<td>[[${entry.wins}]]</td>
													<td>[[${entry.draws}]]</td>
													<td>[[${entry.losses}]]</td>
													<td>[[${entry.goalsScored}]] / [[${entry.goalsConceded}]]</td>
													<td>[[${entry.goalDifference}]]</td>
													<td><strong>[[${entry.points}]]</strong></td>
												</tr>
											</tbody>
										</table>				
									</div>							  
							  	</div>
							  	<div class="tab-pane fade" id="league-position-per-match" role="tabpanel" aria-labelledby="league-position-per-match-tab">
									<div class="chartContainer">
										<canvas id="tablesByMatchweekGraph"></canvas>
									</div>			  	
							  	</div>
							  	<div class="tab-pane fade" id="points-won" role="tabpanel" aria-labelledby="points-won-tab">
									<div class="chartContainer">
										<canvas id="pointsWonByMatchWeekGraph"></canvas>
									</div>			  	
							  	</div>
							</div>
						</div>				
					</div>		
				</div>
				<div class="col-xs col-lg bg-white p-4 m-2 border rounded shadow-sm">
					<ul class="nav nav-tabs mb-4" id="matchesTabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="true">Results</a>
						</li>
						<li class="nav-item">
						   <a class="nav-link" id="fixtures-tab" data-toggle="tab" href="#fixtures" role="tab" aria-controls="fixtures" aria-selected="false">Fixtures</a>
						</li>
					</ul>
					
					<div class="tab-content" id="matchesTabsContent">
						<div class="tab-pane fade show active" id="results" role="tabpanel" aria-labelledby="results-tab">
							<div id="results">		
							</div>				  
					  	</div>
					  	<div class="tab-pane fade" id="fixtures" role="tabpanel" aria-labelledby="fixtures-tab">
							<div id="fixtures">						
							</div>				  	
					  	</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript" th:inline="javascript">
		
		$(document).ready(function () { 
			
			console.log("ininineyyyy");
			
			/*<![CDATA[*/
			var teamId = /*[[${team.resourceId}]]*/ 'default';
			/*]]>*/
			
			getLeagueTableByWeek(2655, teamId);
			getPointsWonPerWeek(2655, teamId);
		});
		</script>
	</th:block>
</body>
</html>